In [1]:
# DATA301-01
# Emma Sauerborn and Shad Hussain
# Project 1

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd

In [17]:
#~/DATA301/Projects/DATA301-Project1/superstore.csv'
# for Shad to pass into the read_csv ^^^
store = pd.read_csv('./superstore.csv')
store

# Extracting day, month, year from order date
store['Order Month'] = store["Order Date"].map(lambda date: date.split('/')[0]).astype(str)
store['Order Day'] = store["Order Date"].map(lambda date: date.split('/')[1]).astype(str)
store['Order Year'] = store["Order Date"].map(lambda date: date.split('/')[2]).astype(str)

# Extracting day, month, year from ship date
store['Ship Month'] = store["Ship Date"].map(lambda date: date.split('/')[0]).astype(str)
store['Ship Day'] = store["Ship Date"].map(lambda date: date.split('/')[1]).astype(str)
store['Ship Year'] = store["Ship Date"].map(lambda date: date.split('/')[2]).astype(str)

def reorderDate(date):
    year = date[2]
    month = date[0] if len(date[0]) == 2 else "0" + date[0]
    day = date[1] if len(date[1]) == 2 else "0" + date[1]
    return np.array([year, month, day])

store["New Order Date"] = store["Order Date"].map(lambda date: np.datetime64(pd.Series(reorderDate(date.split('/'))).str.cat(sep='-')))
store["New Ship Date"] = store["Ship Date"].map(lambda date: np.datetime64(pd.Series(reorderDate(date.split('/'))).str.cat(sep='-')))
store

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Discount,Profit,Order Month,Order Day,Order Year,Ship Month,Ship Day,Ship Year,New Order Date,New Ship Date
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,0.00,41.9136,11,8,2016,11,11,2016,2016-11-08,2016-11-11
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,0.00,219.5820,11,8,2016,11,11,2016,2016-11-08,2016-11-11
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,0.00,6.8714,6,12,2016,6,16,2016,2016-06-12,2016-06-16
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,0.45,-383.0310,10,11,2015,10,18,2015,2015-10-11,2015-10-18
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,0.20,2.5164,10,11,2015,10,18,2015,2015-10-11,2015-10-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,0.20,4.1028,1,21,2014,1,23,2014,2014-01-21,2014-01-23
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,0.00,15.6332,2,26,2017,3,3,2017,2017-02-26,2017-03-03
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,0.20,19.3932,2,26,2017,3,3,2017,2017-02-26,2017-03-03
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,0.00,13.3200,2,26,2017,3,3,2017,2017-02-26,2017-03-03
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,0.00,72.9480,5,4,2017,5,9,2017,2017-05-04,2017-05-09

In [20]:
# Compute number of days between ship and order
store['diff_days'] = store['New Ship Date'] - store['New Order Date']
store['diff_days'] = store['diff_days'] / np.timedelta64(1, "D")
store

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Profit,Order Month,Order Day,Order Year,Ship Month,Ship Day,Ship Year,New Order Date,New Ship Date,diff_days
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,41.9136,11,8,2016,11,11,2016,2016-11-08,2016-11-11,3.0
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,219.5820,11,8,2016,11,11,2016,2016-11-08,2016-11-11,3.0
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,6.8714,6,12,2016,6,16,2016,2016-06-12,2016-06-16,4.0
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,-383.0310,10,11,2015,10,18,2015,2015-10-11,2015-10-18,7.0
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,2.5164,10,11,2015,10,18,2015,2015-10-11,2015-10-18,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,4.1028,1,21,2014,1,23,2014,2014-01-21,2014-01-23,2.0
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,15.6332,2,26,2017,3,3,2017,2017-02-26,2017-03-03,5.0
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,19.3932,2,26,2017,3,3,2017,2017-02-26,2017-03-03,5.0
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,13.3200,2,26,2017,3,3,2017,2017-02-26,2017-03-03,5.0
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,72.9480,5,4,2017,5,9,2017,2017-05-04,2017-05-09,5.0